@function calculate-rem($size) {
    $rem-size: $size / 16px;
    @return $rem-size * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculate-rem($size);
}

@mixin no-text-decoration {
    @include prefix('text-decoration-line', 'none!important', webkit moz);
    text-decoration: none;
}
