/// @group General

@mixin prefix($property, $value, $vendors: webkit moz ms o) {
    @if $vendors {
        @each $vendor in $vendors {
            #{'-' + $vendor + '-' + $property}: #{$value};
        }
    }
    #{$property}: #{$value};
}

@mixin transition($transition...) {
    @include prefix(transition, $transition, webkit moz o);
}

@mixin transform($transform...) {
    @include prefix(transform, $transform);
}

@mixin clearfix {
    &::before,
    &::after {
        content: '';
        display: table;
    }

    &::after {
        clear: both;
    }
}

%hidden {
    .hidden {
        display: none;
    }
}

@mixin pull-left {
    float: left;
}

@mixin pull-right {
    float: right;
}

/// removes the focus ring around an element when a mouse input is detected
@mixin disable-mouse-outline {
    outline: 0;
}

/// generate classes
@mixin generate-util-classes {
    .clearfix {
        @include clearfix;
    }

    .disable-mouse-outline {
        @include disable-mouse-outline;
    }

    .pull-left {
        @include pull-left;
    }

    .pull-right {
        @include pull-right;
    }
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin box-shadow($vars, $inset: false) {
    @if $inset {
        @include prefix('box-shadow', inset $vars, webkit moz);
    } @else {
        @include prefix('box-shadow', $vars, webkit moz);
    }
}

@mixin box-sizing($box-model) {
    @include prefix('box-sizing', $radius, webkit moz);
    box-sizing: $box-model;
}

@mixin border-radius($radius) {
    @include prefix('border-radius', $radius);
    background-clip: padding-box;
    // stops bg color from leaking outside the border
}
