@mixin linear-gradient ($from, $to) {
    background-color: $from;
    background-image: -webkit-linear-gradient(top, $from, $to); // Chrome 10-25, iOS 5+, Safari 5.1+
    background-image:         linear-gradient(to bottom, $from, $to); // Chrome 26, Firefox 16+, IE 10+, Opera 12.10+
}
