/*
    Sass helpers
    Author: J.W. Lagendijk <jelte.lagendijk@mendix.com>
    Repository: {{{ repository }}}
    Version: {{{ version }}}
    Release URL: {{{ url }}}
*/

@import "helpers/general";
@import "helpers/bem";
@import "helpers/inputs";
@import "helpers/mq";
@import "helpers/font";

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin box-shadow($vars, $inset: false) {
    @if $inset {
        @include prefix('box-shadow', inset $vars, webkit moz);
    }
    @else {
        @include prefix('box-shadow', $vars, webkit moz);
    }
}

@mixin box-sizing($box-model) {
    @include prefix('box-sizing', $radius, webkit moz);
    box-sizing: $box-model;
}

@mixin border-radius($radius) {
    @include prefix('border-radius', $radius);
    background-clip: padding-box;
    /* stops bg color from leaking outside the border: */
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}
